<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar-min.css') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <title>ISYT</title>
</head>
<body>
    <style type="text/css">
    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
    padding: 7px 30px;
    font-size: 28px;
    height: 75px;
    width: 100%;
    position: relative;
    z-index: 500;
    letter-spacing: 5px;
    margin-bottom: 20px;
    
}

.navbar__logo {
  font-size: 40px;
  color: white;
}

.navbar_logo i {
  color: #b97f01;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}


.navbar_menu li {
  margin-top: 10px;
  padding: 10px 10px;
}

.navbar_menu li:hover {
  background-color: #797979;
  border-radius: 5px;
  padding: 10px 10px;
}
    </style>
    <nav class="navbar">
        <div class="navbar_logo">
          <i class="fas fa-warehouse"></i>
          <a href="/" style="text-decoration: none; color: white; font-family: Do Hyeon, sans-serif;" >ISYT</a>
        </div>
        <ul class="navbar_menu">
          {%if g.user%}
          <li><a href="logout" style="text-decoration: none; color: white; font-family: Do Hyeon, sans-serif;">{{ g.user.username }} 로그아웃</a></li>
          {%else%}
          <li><a href="login" style="text-decoration: none; color: white; font-family: Do Hyeon, sans-serif;">로그인</a></li>
          {%endif%}
          <li><a href="/" style="text-decoration: none; color: white; font-family: Do Hyeon, sans-serif;">홈</a></li>
          <li><a href="" style="text-decoration: none; color: white; font-family: Do Hyeon, sans-serif;">마이페이지</a></li>
        </ul>
    </nav>
    

    <div class="container">
      <div id="calendar"></div>
      </div>
      <!-- 모달 -->
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4><input class="modal-title" type="text" name="title" id="title1" placeholder="class name" /></h4>
          </div>
          <div class="modal-body">
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name :</label>
              <input type="text" class="form-control" id="recipient-name" placeholder="이름을 입력하세요!">
            </div>
    
            <div class="form-group">
              <label for="email">Email address :</label>
              <input type="text" class="form-control" id="email" placeholder="이메일을 입력하세요!">
            </div>
    
            <div class="form-group">
              <label for="Phone_number">Phone_number : </label>
              <input type="text" class="form-control" id="phone_number" placeholder="전화번호를 입력하세요">
            </div>
    
            <label for="selectpicker_modal" class="col-form-label">선택할공간 :</label>
                    <select class="selectpicker" id="selectpicker_modal">
                        <option>방1</option>
                        <option>방2</option>
                        <option>방3</option>
                      </select>
    
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">내용 :</label>
                    <textarea class="form-control" id="message-text" placeholder="수업내용에 대해 적어주세요!"></textarea>
                  </div>
    
    
            <div class="row">
              <div class="col-xs-12">
                <label class="col-xs-4" for="starts-at">Starts at</label>
                <input type="text" name="starts_at" id="starts-at" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label class="col-xs-4" for="ends-at">Ends at</label>
                <input type="text" name="ends_at" id="ends-at" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save-event">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
<!-- /.modal -->
<div class="bottom">
  <style type="text/css">
.bottom {
color: rgba(68, 55, 55, 0.603);
position: relative;
text-align: center;
line-height: 30px;
letter-spacing: 2px;
font-family: "Do Hyeon", sans-serif;
font-size: 15px;
}
  </style>
  <hr style="color: red;">
  서울시 관악구 봉천로 227 보라매샤르망 6층 </br>
  대표자 : 김승환 | 사업자 등록 번호 000-00-00000 </br>
  영업 시간 : 월 ~ 금 09 : 00 ~ 18 : 00 (주말 및 공휴일 휴무) </br>
  © ISYT
</div>
</body>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="https://kit.fontawesome.com/ab92c38314.js" crossorigin="anonymous"></script>

<script>
  $(document).ready(function() {
      $("#calendar").fullCalendar({
        header: {
          left: "prev,next today",
          center: "title",
          right: "month,agendaWeek,agendaDay"
        },
    
        defaultView: "month",
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true, // allow "more" link when too many events
    
        select: function(start, end) {
          // Display the modal.
          // You could fill in the start and end fields based on the parameters
          $(".modal").modal("show");
          $(".modal")
            .find("#title1")
            .val("");
          $(".modal")
            .find("#recipient-name")
            .val("");
          $(".modal")
            .find("#starts-at")
            .val("");
          $(".modal")
            .find("#ends-at")
            .val("");
          $("#save-event").show();
          $("input").prop("readonly", false);
        },
    
        eventRender: function(event, element) {
          //dynamically prepend close button to event
          element
            .find(".fc-content")
            .prepend("<span class='closeon material-icons'>&#xe5cd;</span>");
          element.find(".closeon").on("click", function() {
            $("#calendar").fullCalendar("removeEvents", event._id);
          });
        },
    
        eventClick: function(calEvent, jsEvent) {
          // Display the modal and set event values.
          $(".modal").modal("show");
          $(".modal")
            .find("#title1")
            .val(calEvent.title);
          $(".modal")
            .find("#recipient-name")
            .val(calEvent.name);
          $(".modal")
            .find("#email")
            .val(calEvent.email);
          $(".modal")
            .find("#phone_number")
            .val(calEvent.phone_number);
          $(".modal")
            .find("#phone_number")
            .val(calEvent.phone_number);
          $(".modal")
            .find("#starts-at")
            .val(calEvent.start);
          $(".modal")
            .find("#ends-at")
            .val(calEvent.end);
          $("#save-event").hide();
          $("input").prop("readonly", true);
        }
      });
    
      // Bind the dates to datetimepicker.
      $("#starts-at, #ends-at").datetimepicker();
    
      //click to save "save"
      $("#save-event").on("click", function(event) {
        var title = $("#title1").val();
        if (title) {
          var eventData = {
            title: title,
            name: $("#recipient-name").val(),
            email: $("#email").val(),
            phone_number: $("#phone_number").val(),
            start: $("#starts-at").val(),
            end: $("#ends-at").val()
          };
          $("#calendar").fullCalendar("renderEvent", eventData, true); // stick? = true
        }
        $("#calendar").fullCalendar("unselect");
    
        // Clear modal inputs
        $(".modal")
          .find("input")
          .val("");
        // hide modal
        $(".modal").modal("hide");
      });
    
      $("textarea").autosize();
    }); 
    </script>
</html>
